<div class="title-primary">
  <p>World Merit Network Rating</p>
</div>
<div class="description-primary">
  <p>Merit aims to be the world’s friendliest digital currency, making it effortless to pay friends, buy goods, and manage your
    wealth.
  </p>
</div>
<div class="ranksTable">
  <div class="header">
    <div class="cell cell-xs">
      #
    </div>
    <div class="cell cell-lg">
      Wallet
    </div>
    <div class="cell cell-lg">
      Score
    </div>
  </div>
  <app-rank-item *ngFor="let item of ranks.ranks" [item]=item></app-rank-item>
</div>