.ranksTable
  width: 100%
  .header
    width: 100%
    display: flex
    justify-content: space-between
    background: $pale-grey-two
    font-weight: 600
    color: $slate-grey
  .cell
    width: 100%
    text-align: left
    padding: 10px
    border-left: 1px solid $white
    &-xs
      max-width: 100px
    &-lg
      max-width: calc(100% - 100px)
