<div class="appHeader container-fluid" [class.active]="isActive" (mouseover)="isActive = true" (mouseout)="isActive = false">
  <div class="container navigation">
    <a href="" class="logo">
      <img src="assets/images/logo/logo.png" alt="">
      <p>DASHBOARD</p>
    </a>
    <ul class="menu">
      <li routerLink="/" routerLinkActive="active">
        <span class="icon">
          <merit-icon name="rating"></merit-icon>
        </span>
        <span class="title">TOP 100</span>
      </li>
      <li routerLink="/mining" routerLinkActive="active">
        <span class="icon">
          <merit-icon name="mining"></merit-icon>
        </span>
        <span class="title">Mining info</span>
      </li>
    </ul>
  </div>
</div>