<div class="appHeader" [class.active]="isActive" (mouseover)="isActive = true" (mouseout)="isActive = false">
  <div class="container navigation">
    <a href="" class="logo">
      <img src="assets/images/logo/logo.png" alt="">
      <p>DASHBOARD</p>
    </a>
    <ul class="menu">
      <li routerLink="/network" routerLinkActive="active">
        <span class="icon">
          <merit-icon name="network"></merit-icon>
        </span>
        <span class="title">Network</span>
      </li>
      <li routerLink="/ranks" routerLinkActive="active">
        <span class="icon">
          <merit-icon name="rating"></merit-icon>
        </span>
        <span class="title">TOP 100</span>
      </li>
      <li routerLink="/mining" routerLinkActive="active">
        <span class="icon">
          <merit-icon name="mining"></merit-icon>
        </span>
        <span class="title">Mining difficulty</span>
      </li>
      <li routerLink="/stats" routerLinkActive="active">
        <span class="icon">
          <merit-icon name="stats"></merit-icon>
        </span>
        <span class="title">BlockChain stats</span>
      </li>
      <li routerLink="/calculator" routerLinkActive="active">
        <span class="icon">
          <merit-icon name="calculator"></merit-icon>
        </span>
        <span class="title">Calculator</span>
      </li>
      <li routerLink="/validate-wallet" routerLinkActive="active">
        <span class="icon">
          <merit-icon name="wallet"></merit-icon>
        </span>
        <span class="title">Validate wallet</span>
      </li>
    </ul>
  </div>
</div>