<div class="container">
  <div class="title-primary">
    <p>MERIT NETWORK COMMUNITY GROWTH SCORES</p>
  </div>
  <div class="description-primary">
    <p>Below are the top 100 Merit users ranked according to Community Growth Score</p>
  </div>

  <div class="ranksTable">
    <div class="header">
      <div class="cell cell-xs">
        #
      </div>
      <div class="cell cell-lg">
        Wallet
      </div>
      <div class="cell cell-lg">
        Score
      </div>
    </div>
    <ng-container *ngIf="!(ranks$ | async).loading; else loading">
      <app-rank-item *ngFor="let item of (ranks$ | async)?.ranks" [item]=item></app-rank-item>
    </ng-container>
    <ng-template #loading>
      <div class="tableLoading text-italic text-center">
        <div class="title-secondary">
          <p>Loading table...</p>
        </div>
        <loading-spinner></loading-spinner>
      </div>
    </ng-template>
  </div>
</div>
