<div class="blackTheme networkView">
  <div class="networkView_heading">
    <div class="container">
      <div class="title-primary">
        <p>Meet the Merit Network</p>
      </div>
      <div class="description-primary">
        <p>Explore the Merit Network</p>
      </div>
      <div class="addressesCounter">
        <div>
          <p>{{addresses.total | kformat}}</p>
          <span>TOTAL</span>
        </div>
        <div>
          <p>+{{addresses.month | kformat}}</p>
          <span>JOINED IN THIS MONT</span>
        </div>
        <div>
          <p>+{{addresses.week | kformat}}</p>
          <span>JOINED IN THIS WEEK</span>
        </div>
      </div>
      <form [formGroup]="formData" (ngSubmit)="validate(formData.controls.address.value)" class="networkNavigator">
        <div class="networkNavigator_group">
          <input type="text" class="ui-input ui-input--text" formControlName="address" placeholder="Find wallet (enter addresses or alias)">
          <button class="ui-button">FIND</button>
        </div>
      </form>
      <div class="networkBreadCrumbs">
        <ul>
          <li *ngFor="let item of breadCrumbs" (click)="backToParent(item)">
            <i>{{item}}</i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <loading-spinner *ngIf="(nodes$ | async).loading"></loading-spinner>
  <div #canvas class="canvas graphWrap" [class.loaded]="!(nodes$ | async).loading"></div>


  <div *ngIf="gNodes.length > 1" class="nodesDialog_wrapper">
    <div class="nodesDialog">
      <p>
        <strong>{{gNodes.length}}</strong> child addresses found in current node!
      </p>
      <p>
        Do you want display it?
      </p>
      <div class="navigation">
        <button (click)="gNodes.length = 0" class="ui-button ui-button--sm ui-button--red">No</button>
        <button (click)="loadNodes()" class="ui-button ui-button--sm ui-button--green">YES</button>
      </div>
    </div>
  </div>
</div>