@import "~styles/common/import-sass"

\:host
  display: block
  background: $ebony-clay url(/assets/images/merit-network.jpg) no-repeat 0 0
  background-size: cover
  padding: 50px 20px 20px
  margin-left: -150px
  width: calc(100vw + 40px)
  min-height: 100vh
  box-sizing: border-box
  .title-primary, .description-primary
    color: $white
    width: 100%
    text-align: center
    margin: 0px auto 20px
.nodesDialog_wrapper
  position: fixed
  width: 100vw
  height: 100vh
  top: 0
  left: 0
  background: rgba(0,0,0, .5)
  z-index: 1000
  display: flex
  justify-content: center
  align-items: center
.nodesDialog
  max-width: 400px
  width: 100%
  height: 200px
  background: $white
  text-align: center
  color: $ebony-clay
  box-sizing: border-box
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  border-radius: 10px
  .navigation
    padding: 20px 0
    display: flex
    justify-content: space-between
    .ui-button
      margin: 0 10px
.networkView
  display: flex
  flex-direction: column
  min-height: calc(100vh - 70px)
  .graphWrap
    height: 100%
    max-height: 100vw
    flex: 1
.canvas
  height: 100%
  width: 100vw
  opacity: 0
  position: relative
  left: 0
  &.loaded
    opacity: 1
.networkBreadCrumbs
  color: $white
  ul
    display: flex
    font-size: 13px
    li
      display: block
      max-width: 100px
      overflow: hidden
      box-sizing: border-box
      display: flex
      cursor: pointer
      margin-right: 10px
      font-style: italic
      i
        text-decoration: underline
      &:before
        content: ">"
        margin-right: 5px
      &:first-of-type
        &:before
          display: none
.networkNavigator
  box-sizing: border-box
  border-radius:  4px
  margin: 0px auto 20px
  max-width: 600px
  &_group
    display: flex
    .ui-button
      margin-left: 20px
  .ui-label
    text-align: center
    display: block
    color: $white
    opacity: .6