<div class="blackTheme networkView">
  <div class="networkView_heading">
    <div class="container">
      <div class="title-primary">
        <p>Meet the Merit Network</p>
      </div>
      <div class="description-primary">
        <p>Explore the Merit Network</p>
      </div>
      <div class="addressesCounter">
        <div>
          <p>{{(wallets | async)?.total | kformat}}</p>
          <span>TOTAL</span>
        </div>
        <div>
          <p>+{{(wallets | async)?.month | kformat}}</p>
          <span>JOINED IN THIS MONT</span>
        </div>
        <div>
          <p>+{{(wallets | async)?.week | kformat}}</p>
          <span>JOINED IN THIS WEEK</span>
        </div>
      </div>
      <form [formGroup]="formData" (ngSubmit)="validateAddress(formData.controls.address.value)" class="networkNavigator">
        <div class="networkNavigator_group networkNavigator_group-column">
          <div class="selectMapSize" (click)="showList = !showList">
            <span class="ui-label">Addresses to display</span>
            {{selectedMapSize}}
            <div class="selectMapSize_list" *ngIf="showList">
              <div class="selectMapSize_item" *ngFor="let item of selectionList" (click)="loadGraph('', item)">{{item}}</div>
            </div>
          </div>
        </div>
        <div class="networkNavigator_group">
          <input type="text" class="ui-input ui-input--text" formControlName="address" placeholder="Find wallet (enter addresses or alias)">
          <button class="ui-button">FIND</button>
        </div>
      </form>
      <div class="networkBreadCrumbs">
        <ul>
          <li *ngFor="let item of breadCrumbs" (click)="backToParent(item)">
            <i>{{item}}</i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container loading" *ngIf="(nodes$ | async).loading">
    <loading-spinner></loading-spinner>
  </div>

  <div #canvas class="canvas graphWrap" [class.loaded]="!(nodes$ | async).loading"></div>


  <div *ngIf="showWarning" class="nodesDialog_wrapper">
    <div class="nodesDialog">
      <p>
        <strong>{{gNodes.length}}</strong> ready to display!
      </p>
      <p>
        Do you want display it?
      </p>
      <p>
        <small>If you using legacy machine or your hardware quite loaded, big amount on the nodes can call system freezing!</small>
      </p>
      <div class="navigation">
        <button (click)="showWarning = 0" class="ui-button ui-button--sm ui-button--red">No</button>
        <button (click)="loadNodes()" class="ui-button ui-button--sm ui-button--green">YES</button>
      </div>
    </div>
  </div>
</div>