<div class="blackTheme networkView">
  <div class="networkView_heading">
    <div class="container">
      <div class="title-primary">
        <p>The Merit Network</p>
      </div>
      <div class="description-primary">
        <p>Explore the Merit Network</p>
      </div>
      <div class="addressesCounter">
        <div>
          <p>{{wallets?.totalDisplay | kformat}}</p>
          <span>TOTAL USERS</span>
        </div>
        <div>
          <p>+{{wallets?.monthDisplay | kformat}}</p>
          <span>JOINED IN LAST 30DAYS</span>
        </div>
        <div>
          <p>+{{wallets?.weekDisplay | kformat}}</p>
          <span>JOINED IN LAST 7DAYS</span>
        </div>
      </div>
    </div>
  </div>
  <div class="closeOverlay" *ngIf="showList" (click)="showList = !showList"></div>
  <div class="fullScreenContainer" [class.inMode]="isFullScreen">
    <form [formGroup]="formData" (ngSubmit)="validateAddress(formData.controls.address.value)" class="networkNavigator">
      <div class="form">
        <div class="networkNavigator_group">
          <div class="selectMapSize" (click)="showList = !showList">
            <span class="ui-label">To display</span>
            {{selectedMapSize}}
            <div class="selectMapSize_list" *ngIf="showList">
              <div class="selectMapSize_item" *ngFor="let item of selectionList" (click)="loadGraph('', item)">{{item}}</div>
            </div>
          </div>
          <input type="text" class="ui-input ui-input--text" formControlName="address" placeholder="Find wallet">
          <button class="ui-button ui-button--sm">FIND</button>
        </div>
        <div class="enterFullScreen" (click)="isFullScreen = !isFullScreen">
          <merit-icon name="full" *ngIf="!isFullScreen"></merit-icon>
          <merit-icon name="full-exit" *ngIf="isFullScreen"></merit-icon>
        </div>
      </div>
      <div class="networkBreadCrumbs" *ngIf="genesisAddress !== selectedAddress">
        <ul>
          <li (click)="validateAddress(genesisAddress)">
            <i>ROOT</i>
          </li>
          <li (click)="validateAddress(selectedAddress)">
            <i>{{selectedAddress}}</i>
          </li>
        </ul>
      </div>
    </form>
    <div class="container loading" *ngIf="(nodes$ | async).loading">
      <p>
        <strong>Loading nodes...</strong>
      </p>
      <loading-spinner></loading-spinner>
    </div>
    <div class="graphWrap" [ngClass]="{'loaded': !(nodes$ | async).loading && !showWarning, 'fullScreen': isFullScreen}">
      <div #canvas class="canvas"></div>
    </div>
  </div>

  <div class="scrollNavigator">
    <div class="buttons">
      <button class="zoom out ui-button ui-button--white">-</button>
      <button class="zoom in ui-button ui-button--white">+</button>
    </div>
    <p>
      For map zoom, you can use mouse wheel <br> or "+" and "-" buttons.
    </p>
  </div>
  <div *ngIf="showWarning" class="nodesDialog_wrapper">
    <div class="nodesDialog">
      <p>
        <strong>{{gNodes.length}}</strong> connections found!
      </p>
      <p>
        Would you like to see this network?
      </p>
      <p>
        <small><strong>*</strong> If you are using an older machine or you are using your computer for other
          memory-intensive
          processes, loading this map could cause your machine to feeze!</small>
      </p>
      <p>
        <small><strong>**</strong> Amount of the connections are not equal to amount of addresses.</small>
      </p>
      <div class="navigation">
        <button (click)="showWarning = 0" class="ui-button ui-button--sm ui-button--red">No</button>
        <button (click)="loadNodes()" class="ui-button ui-button--sm ui-button--green">YES</button>
      </div>
    </div>
  </div>
</div>